<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_rn_restaurant_root"
              name="Restaurant"
              web_icon="rn_restaurant_core,static/description/icon.png"
              groups="rn_restaurant_core.group_rn_restaurant_user"
              sequence="46"/>

    <menuitem id="menu_rn_restaurant_dashboard"
              name="Overview"
              parent="menu_rn_restaurant_root"
              action="action_rn_restaurant_dashboard"
              sequence="1"/>

    <menuitem id="menu_rn_restaurant_ops"
              name="Operations"
              parent="menu_rn_restaurant_root"
              sequence="10"/>
    <menuitem id="menu_rn_restaurant_setup"
              name="Setup Wizard"
              parent="menu_rn_restaurant_ops"
              action="action_rn_restaurant_setup_wizard"
              sequence="5"/>
    <menuitem id="menu_rn_restaurant_restaurants"
              name="Restaurants"
              parent="menu_rn_restaurant_ops"
              action="action_rn_restaurant"
              sequence="10"/>
    <menuitem id="menu_rn_restaurant_branches"
              name="Branches"
              parent="menu_rn_restaurant_ops"
              action="action_rn_restaurant_branch"
              sequence="20"/>
    <menuitem id="menu_rn_restaurant_floors"
              name="Dining Areas"
              parent="menu_rn_restaurant_ops"
              action="action_rn_restaurant_floor"
              sequence="30"/>
    <menuitem id="menu_rn_restaurant_tables"
              name="Tables"
              parent="menu_rn_restaurant_ops"
              action="action_rn_restaurant_table"
              sequence="40"/>

    <menuitem id="menu_rn_restaurant_catalog"
              name="Menu"
              parent="menu_rn_restaurant_root"
              sequence="20"/>
    <menuitem id="menu_rn_restaurant_categories"
              name="Categories"
              parent="menu_rn_restaurant_catalog"
              action="action_rn_restaurant_menu_category"
              sequence="10"/>
    <menuitem id="menu_rn_restaurant_items"
              name="Items"
              parent="menu_rn_restaurant_catalog"
              action="action_rn_restaurant_menu_item"
              sequence="20"/>
    <menuitem id="menu_rn_restaurant_export"
              name="Export Menu"
              parent="menu_rn_restaurant_catalog"
              action="action_rn_restaurant_export_menu"
              sequence="30"/>

    <menuitem id="menu_rn_restaurant_config"
              name="Configuration"
              parent="menu_rn_restaurant_root"
              groups="rn_restaurant_core.group_rn_restaurant_manager"
              sequence="90"/>
    <menuitem id="menu_rn_restaurant_taxes"
              name="Taxes"
              parent="menu_rn_restaurant_config"
              action="action_rn_restaurant_tax"
              sequence="10"/>
    <menuitem id="menu_rn_restaurant_payments"
              name="Payment Methods"
              parent="menu_rn_restaurant_config"
              action="action_rn_restaurant_payment_method"
              sequence="20"/>
    <menuitem id="menu_rn_restaurant_settings"
              name="Restaurant Settings"
              parent="menu_rn_restaurant_config"
              action="action_rn_restaurant_settings"
              sequence="30"/>
    <menuitem id="menu_rn_restaurant_subscriptions"
              name="Subscriptions"
              parent="menu_rn_restaurant_config"
              action="action_rn_restaurant_subscription"
              sequence="40"/>
    <menuitem id="menu_rn_restaurant_config_settings"
              name="Settings"
              parent="menu_rn_restaurant_config"
              action="action_rn_restaurant_config_settings"
              sequence="100"/>
</odoo>
