<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_rn_name_assistant_root"
              name="Name Assistant"
              web_icon="rn_name_assistant,static/description/icon.png"
              groups="rn_name_assistant.group_rn_name_assistant_user"
              sequence="58"/>

    <menuitem id="menu_rn_name_assistant_config"
              name="Configuration"
              parent="menu_rn_name_assistant_root"
              groups="rn_name_assistant.group_rn_name_assistant_manager"
              sequence="90"/>

    <menuitem id="menu_rn_name_template"
              name="Templates"
              parent="menu_rn_name_assistant_config"
              action="action_rn_name_template"
              sequence="10"/>

    <menuitem id="menu_rn_name_abbreviation"
              name="Abbreviations"
              parent="menu_rn_name_assistant_config"
              action="action_rn_name_abbreviation"
              sequence="20"/>
</odoo>
